<div class="card">
    <div class="card-header bg-default">
        <div class="row">
            <div class="col-sm-8">
                <h2 class="card-title text-white">
                <i class="nc-icon nc-settings"></i>
                Les services
                </h2>
            </div>
            <div class="col-sm-4 text-right mt-2">
                <button *ngIf="permissions.can_add" mat-raised-button routerLink="edit" class="mr-1" color="info">
                <mat-icon>add</mat-icon>
                </button>
                <button mat-raised-button color="primary" (click)="onRefresh()">
                <mat-icon>refresh</mat-icon>
                </button>
            </div>
        </div>
    </div>
    <div class="card-body">
        
        <!-- Spinner -->
        <app-spinner [filterBy]="serviceUrl"></app-spinner>

        <div *ngIf="(questions$ | async) as questions">
            <div *ngIf="questions.length > 0; else noData">
                <div class="row">
                    <div class="col-md-2 col-sm-6 mb-3">
                      <label class="col-form-label" for="taille">Taille</label>
                      <select class="custom-select" id="taille" name="taille" [(ngModel)]="pageSize">
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="30">50</option>
                        <option value="100">100</option>
                        <option [value]="questions.length">Tout</option>
                      </select>
                    </div>
                </div>

                <div class="table-responsive-sm">
                    <table class="table table-sm table-striped">
                        <thead class="text-center">
                            <th>#</th><th style="width: 30%;">Services</th><th>Type Cas</th><th style="width: 20%;">Parent</th>
                            <th >Statut Parent</th><th style="width: 20%;">Description</th><th>Actions</th>
                        </thead>
                        <tbody class="text-center">
                            <tr *ngFor="let qt of questions; index as i">
                                <th scope="row">{{ i + 1 }}</th>
                                <th scope="row">{{ qt.libelle }}</th>
                                <td>{{ qt.typeCas ? qt.typeCas.libelle : '--'}}</td>
                                <td>{{ (qt.idParent | findQuestion | async)?.libelle }}</td>
                                <td>{{ qt.statutParent ? 'OUI' : 'NON'}}</td>
                                <td>{{ qt.description }}</td>
                                <td>
                                    <button *ngIf="permissions.can_edit" mat-mini-fab color="primary" [routerLink]="['edit', {id: qt.id}]" aria-label="Modifier" title="Modifier">
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                    <button *ngIf="permissions.can_delete" mat-mini-fab color="accent" (click)="onDeleteOne(qt.id)"
                                        aria-label="Supprimer" title="Supprimer">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
    
                <ngb-pagination
                [(page)]="page"
                [pageSize]="pageSize"
                [collectionSize]="questions.length"
                [rotate]="true"
                [ellipses]="false"
                [boundaryLinks]="true"
                [maxSize]="5"
                class="d-flex justify-content-center"></ngb-pagination>
            </div>

            <ng-template #noData>
                <div class="text-center text-info">
                    Aucun service trouvé !!!
                </div>
            </ng-template>
        </div>
        <ng-template #noQuestions>
            <div class="text-center font-italic text-info">
                Aucune question trouvée !!!
            </div>
        </ng-template>
    </div>
</div>
    
