<div class="card">
  <div class="card-header bg-default">
    <div class="row">
      <div class="col-sm-12 form-inline">
        <button mat-mini-fab color="info" routerLink="..">
          <mat-icon>reply</mat-icon>
        </button>
        <h2 class="card-title ml-1 text-white">
          {{ isNew ? ' Enregistrement d\'un groupement' : 'Modification d\'un groupement'}}
        </h2>
      </div>
    </div>
  </div>
  <div class="card-body">

    <!-- Spinner -->
    <app-spinner [filterBy]="groupementUrl" [diameter]="30" #usrSpinner></app-spinner>

    <div class="row">
      <div class="col-md-8 offset-md-2 col-sm-6">
        <div>
          <form [formGroup]="groupementForm">
            <div class="row">
              <div class="col-12">
                <mat-form-field>
                  <mat-label>Nom du groupement *</mat-label>
                  <input id="nom" matInput type="text" formControlName="nom">
                  <mat-error>Le nom est obligatoire et contient au moins 2 caractères</mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <mat-form-field>
                  <mat-label>Téléphone *</mat-label> <br>
                  <input id="phone" matInput type="number" minlength="1" formControlName="telephone" >
                  <mat-error>le numero de téléphone est incorrect et obligatoire</mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <mat-form-field>
                  <mat-label>Marque *</mat-label>
                  <input matInput type="marque" formControlName="marque">
                  <mat-error>La marque est obligatoire et contient au moins 2 caractères</mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <mat-form-field>
                  <mat-label>Description *</mat-label>
                  <textarea matInput formControlName="description"></textarea>
                  <mat-error>La desc est obligatoire et contient au moins 3 caractères</mat-error>
                </mat-form-field>
              </div>
            </div>

            <!-- ==========================================================================-->
            <!-- Localite -->
            <fieldset class="fieldset-border">
              <legend class="fieldset-border">Localité</legend>
              <div >
                  <div class="row">
                    <div class="col-12">
                      <mat-form-field>
                        <mat-label>Region</mat-label>
                        <mat-select formControlName="region" >
                          <mat-option *ngFor="let region of regions$ | async" [value]="region"  >{{ region.nom }}</mat-option>
                        </mat-select>
                        <mat-error>La region est obligatoire</mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <mat-form-field>
                        <mat-label>Prefecture</mat-label>
                        <mat-select formControlName="prefecture" >
                          <mat-option *ngFor="let prefecture of prefectures$ | async" [value]="prefecture">{{ prefecture.nom}}</mat-option>
                        </mat-select>
                        <mat-error>La prefecture est obligatoire</mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <mat-form-field>
                        <mat-label>Commune/Sous-prefecture</mat-label>
                        <mat-select formControlName="commune" >
                          <mat-option *ngFor="let commune of communes$ | async" [value]="commune">{{ commune.nom }}</mat-option>
                        </mat-select>
                        <mat-error>La commune ou sous-prefecture est obligatoire</mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-10">
                      <mat-form-field>
                        <mat-label>Villages</mat-label>
                        <mat-select formControlName="quartier" >
                          <mat-option *ngFor="let quartier of quartiers$ | async" [value]="quartier">{{ quartier.nom}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-2 form-inline">
                      <button type="button" mat-mini-fab color="info"
                        (click)="onOpenModal(contentQuartier)"><mat-icon>add</mat-icon></button>
                    </div>
                  </div>

              </div>
            </fieldset>
            <!-- ==========================================================================-->
            <div class="text-center">
              <button type="button" (click)="onSubmit()" [class.spinner]="usrSpinner.loadingEvent$ | async"
                mat-raised-button color="primary" [disabled]="groupementForm.invalid || (usrSpinner.loadingEvent$ | async)">
                Enregistrer
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #contentQuartier let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Quartier</h4>
    <button type="button" class="close" aria-label="Close" (click)="c('Close click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-quartier [isNew]="true" [communeId]="communeId.id" (isDone)="onNewQuartier($event)"></app-quartier>
  </div>
</ng-template>