<div class="mt-2">
    <div *ngIf="(stats$ | async) as statsServices">
        <div *ngIf="statsServices.length > 0">
            <div class="row">
                <div class="col-sm-12 text-right mb-2">
                    <button type="button" [class.spinner]="isExporting" [disabled]="isExporting" color="info" mat-raised-button (click)="onExport(statsServices)">
                        <mat-icon>file_download</mat-icon>
                    </button>
                </div>
            </div>
            <div class="table-responsive-sm">
                <table class="table table-striped table-bordered table-sm">
                    <thead class="text-center">
                        <tr>
                            <th>Service</th><th *ngFor="let h of headers">{{ h }}</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        <tr *ngFor="let st of statsServices">
                            <th scope="row">{{ st.service }}</th>
                            <td *ngFor="let tp of st.stats">{{ tp.nombre }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div *ngIf="statsServices.length === 0" class="text-center text-info">
            Aucune donnée trouvée !!!
        </div>
    </div>
</div>
