<div class="mt-2">
    <div *ngIf="(stats$ | async) as stats">
        <div *ngIf="stats.length > 0">
            <div class="row">
                <div class="col-md-2 label">
                    Total : {{ stats.length }}
                  </div>
                  <div class="col-md-10 text-right mb-2">
                    <button type="button" [class.spinner]="isExporting" [disabled]="isExporting" color="info" mat-raised-button (click)="onExport(stats)">
                      <mat-icon>file_download</mat-icon>
                    </button>
                  </div>
            </div>
            <div class="table-responsive-sm">
                <table class="table table-striped table-bordered table-sm">
                    <thead class="text-center">
                        <tr>
                            <th>Type de cas</th><th>Nombres</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        <tr *ngFor="let st of stats">
                            <th scope="row">{{ st.typeCas }}</th>
                            <td>{{ st.nombre }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div *ngIf="stats.length === 0" class="text-center text-info">
            Aucune donnée trouvée !!!
        </div>
    </div>
</div>
