<div class="row">
    <div class="col-12">
      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" [expanded]="expanded">
          <mat-expansion-panel-header>
            <mat-panel-title>Recherche</mat-panel-title>
          </mat-expansion-panel-header>
          <form>
            <div class="row">
                <div class="col-md-3 col-sm-12">
                    <mat-form-field>
                      <mat-label>Date debut</mat-label>
                      <input matInput type="date" name="dateDebut" [(ngModel)]="params.dateDebut"/>
                    </mat-form-field>
                </div>
                <div class="col-md-3 col-sm-12">
                    <mat-form-field>
                      <mat-label>Date fin</mat-label>
                      <input matInput type="date" name="dateFin" [(ngModel)]="params.dateFin"/>
                    </mat-form-field>
                </div>
                <!-- Age -->
                <div class="col-md-3 col-sm-12">
                  <mat-form-field>
                    <mat-label>Age debut</mat-label>
                    <input matInput type="number" name="ageDebut" [(ngModel)]="params.ageDebut"/>
                  </mat-form-field>
              </div>
              <div class="col-md-3 col-sm-12">
                  <mat-form-field>
                    <mat-label>Age fin</mat-label>
                    <input matInput type="number" name="ageFin" [(ngModel)]="params.ageFin"/>
                  </mat-form-field>
              </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <mat-form-field>
                      <mat-label>Region</mat-label>
                      <mat-select (selectionChange)="onSelectLocaliteChange(localites.REGION)" name="region" [(ngModel)]="params.idRegion">
                        <mat-option *ngFor="let region of regions$ | async" [value]="region.id">{{ region.nom }}</mat-option>
                      </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-4 col-sm-12">
                <mat-form-field>
                    <mat-label>Prefecture</mat-label>
                    <mat-select (selectionChange)="onSelectLocaliteChange(localites.PREFECTURE)" name="prefecture" [(ngModel)]="params.idPrefecture">
                    <mat-option *ngFor="let pref of prefectures$ | async" [value]="pref.id">{{ pref.nom }}</mat-option>
                    </mat-select>
                </mat-form-field>
                </div>
                <div class="col-md-4 col-sm-12">
                <mat-form-field>
                    <mat-label>Commune/Sous-prefecture</mat-label>
                    <mat-select (selectionChange)="onSelectLocaliteChange(localites.COMMUNE)" name="commune" [(ngModel)]="params.idCommune">
                    <mat-option *ngFor="let commune of communes$ | async" [value]="commune.id">{{ commune.nom }}</mat-option>
                    </mat-select>
                </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-12">
                <mat-form-field>
                    <mat-label>Quartier/District</mat-label>
                    <mat-select (selectionChange)="onSelectLocaliteChange(localites.QUARTIER)" name="quartier" [(ngModel)]="params.idQuartier">
                    <mat-option *ngFor="let quartier of quartiers$ | async" [value]="quartier.id">{{ quartier.nom }}</mat-option>
                    </mat-select>
                </mat-form-field>
                </div>
                <div class="col-md-4 col-sm-12">
                <mat-form-field>
                    <mat-label>Secteur</mat-label>
                    <mat-select name="secteur" [(ngModel)]="params.idSecteur">
                    <mat-option *ngFor="let secteur of secteurs$ | async" [value]="secteur.id">{{ secteur.nom }}</mat-option>
                    </mat-select>
                </mat-form-field>
                </div>
                <div class="col-md-4 col-sm-12 form-inline"> <!--[class.spinner]="isLoading"-->
                    <button type="button" mat-raised-button color="info" class="mr-1" (click)="onSearch()" [disabled]="isLoading">
                        <mat-icon>search</mat-icon>
                        Rechercher
                    </button>
                    <button type="button" mat-raised-button (click)="resetForm()">
                        <mat-icon>restart_alt</mat-icon>
                        Annuler
                    </button>
                </div>
            </div>  
          </form>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
</div>
 