<div class="card">
    <div class="card-header bg-default">
      <div class="row">
        <div class="col-sm-8">
          <h2 class="card-title text-white">
            <i class="nc-icon nc-paper"></i>
            Article
          </h2>
        </div>
        <div class="col-sm-4 text-right mt-2">
          <button *ngIf="permissions.can_add" mat-raised-button routerLink="edit" class="mr-1" color="info">
            <mat-icon>add</mat-icon>
          </button>
          <button mat-raised-button color="primary" (click)="onRefresh()">
            <mat-icon>refresh</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="mat-table-header">
        <form>
          <div class="row">
              
              <div class="col-md-8" >
                  <mat-form-field> <!-- 623643480 Aissatou -->
                    <mat-label>Recherche par titre</mat-label>
                    <input matInput type="text" (keyup.enter)="onSearch()" name="value" (keyup)="initValue($event)" />
                  </mat-form-field>
              </div>
              <div class="col-md-4 col-sm-12 form-inline">
                <button type="button" [disabled]="titre==null?true:false" mat-raised-button color="info" class="mr-1" (click)="onSearch()">
                  <mat-icon>search</mat-icon>
                  Rechercher
                </button>
              </div>
            </div>
        </form>
      </div> 
      <!-- Spinner -->
      <app-spinner [filterBy]="articleUrl" [diameter]="30" #calSpinner></app-spinner>
  
      <div [hidden]="!dataSource || dataSource.data.length == 0">
        <div class="mat-table-container mat-elevation-z0 table-responsive-sm">
          <mat-table [dataSource]="dataSource" matSort>
            <!-- Titre Column -->
            <ng-container matColumnDef="titre">
              <mat-header-cell *matHeaderCellDef  mat-sort-header>Titre</mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.titre }}</mat-cell>
            </ng-container>

            <!-- Categorie Column -->
            <ng-container matColumnDef="categorie">
              <mat-header-cell *matHeaderCellDef  mat-sort-header> Categorie</mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.categorieArticle }}</mat-cell>
            </ng-container>
            
          
            <!-- isVedette column -->
            <ng-container matColumnDef="isVedette">
              <mat-header-cell *matHeaderCellDef  mat-sort-header>Vedette</mat-header-cell>
              <mat-cell *matCellDef="let row">
                <mat-checkbox   [checked]="row.isVedette === true" [disabled]="true">Vedette</mat-checkbox>
                <!--  <mat-slide-toggle [checked]="row.isVedette === true" [disabled]="true" color="primary">

                </mat-slide-toggle> -->
              </mat-cell>
            </ng-container>

            <!-- Statut column -->
            <ng-container matColumnDef="statut">
              <mat-header-cell *matHeaderCellDef  mat-sort-header>Statut</mat-header-cell>
              <mat-cell *matCellDef="let row">
                <mat-slide-toggle [checked]="row.statut === 'Activated'" (change)="onChangeStatus(row.id, row)" color="primary"></mat-slide-toggle>
              </mat-cell>
            </ng-container>

             <!-- Description Column -->
             <!-- <ng-container matColumnDef="description">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Description</mat-header-cell>
              <mat-cell *matCellDef="let row">
                <div>
                  <div [innerHTML]="(row.description.length > 10) ? (row.description|slice:0:20) + ' ...' : (row.description)"></div>

                <a class="btn btn-link btn-sm text-primary"
                *ngIf="(row.description.length > 10)"
                (click)="showDescription(row.description)">Lire plus</a> 
                </div>
              
              </mat-cell>
            </ng-container> -->

            <!-- Action Column -->
            <ng-container matColumnDef="action">
              <mat-header-cell *matHeaderCellDef> ACTION </mat-header-cell>
              <mat-cell  *matCellDef="let row">
                <button *ngIf="permissions.can_view_info" mat-mini-fab color="own" [routerLink]="['info', row.id]">
                  <mat-icon>visibility</mat-icon>
                </button>

                <button *ngIf="permissions.can_edit" style="margin: 1.5px;" mat-mini-fab color="primary" (click)="gotoEdit(row.id)"
                  aria-label="Modifier" title="Modifier">
                  <mat-icon>edit</mat-icon>
                </button>

                <button *ngIf="permissions.can_delete" mat-mini-fab color="accent" (click)="onDelete(row.id)" aria-label="Supprimer" title="Supprimer">
                  <mat-icon>delete</mat-icon>
                </button>
                
              </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
          <mat-paginator #paginator (page)="pageChanged($event)" [length]="totalRows" [pageIndex]="currentPage" [pageSize]="pageSize" [pageSizeOptions]="dataSource.data.length | tableOptions"></mat-paginator>
        </div>
      </div>
      <div *ngIf="dataSource && dataSource.data.length == 0 && ((calSpinner.loadingEvent$ | async) === false)" class="text-info text-center mt-2">
        Aucun Article trouvée !!!
      </div>
    </div>
</div>
