<app-spinner [filterBy]="alerteUrl" [diameter]="20" #spinner></app-spinner>

<div *ngIf="(alerte$ | async) as alerte">

    <div class="row">
        <div class="col">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col">Type de cas</div>
                        <div class="col font-weight-bold">{{ alerte.typeCas.libelle }}</div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col">Téléphone</div>
                        <div class="col font-weight-bold">{{ alerte.msisdn }}</div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col">Statut</div>
                        <div class="col"><span class="mat-badge mat-badge-accent">{{ alerte.statut | statusAlerteFormat}}</span>
                        </div>
                        <button [disabled]="true" mat-raised-button [color]="alerte.statut | statusAlerteFormat: true" >
                            {{ alerte.statut | statusAlerteFormat }}
                        </button>
                    </div>
                </li>

            </ul>
        </div>
        <div class="col">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col">Région</div>
                        <div class="col font-weight-bold">{{ alerte.commune ? alerte.commune.prefecture.region.nom : '' }}</div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col">Préfecture</div>
                        <div class="col font-weight-bold">{{ alerte.commune ? alerte.commune.prefecture.nom : '' }}</div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col">S.P/Commune</div>
                        <div class="col font-weight-bold">{{ alerte.commune ? alerte.commune.nom : '' }}</div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-8 offset-md-2 col-sm-12">
            <form [formGroup]="affectationForm">
                <div class="row">
                    <div class="col-12 text-center">
                        <mat-form-field>
                            <mat-label>Option </mat-label>
                            <mat-select (selectionChange)="onSelectLocaliteChange()" formControlName="option">
                              <mat-option *ngFor="let option of optionUser" [value]="option" >{{option}}</mat-option>
                             </mat-select>

                            <mat-error>L'option d'envoi est obligatoire</mat-error>
                        </mat-form-field>
                    </div>

                    <div class="col-12 text-center">
                        <mat-form-field>
                            <mat-label>Gestionnaires</mat-label>
                            <mat-select formControlName="userId">
                                <mat-option *ngFor="let us of users " [value]="us.id">{{ us.username + ' - ' +
                                    us.nom + ' ' + us.prenom }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <div class="text-center">
                    <button type="button" [class.spinner]="(spinner.loadingEvent$ | async) && affectationForm.valid"
                        mat-raised-button color="primary"
                        [disabled]="affectationForm.invalid || ((spinner.loadingEvent$ | async) === true)" 
                        (click)="onSubmit()">
                        Affecter
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>