<div class="card">
    <div class="card-header bg-default">
        <div class="row">
          <div class="col-sm-8 form-inline">
            <button type="button" mat-mini-fab color="info" [routerLink]="returnUrl">
                <mat-icon>reply</mat-icon>
            </button>
            <h2 class="card-title text-white ml-1">
              Informations detaillées
            </h2>
          </div>
          <div class="col-sm-4 text-right mt-2">
            <!-- <button *ngIf="permissions.can_add" mat-raised-button routerLink="edit" class="mr-1" color="info">
              <mat-icon>add</mat-icon>
            </button> -->
            <button *ngIf="permissions.can_update_status && statut !== ''" mat-raised-button [color]="statut | statusCasFormat : true" (click)="onOpenTraitementModal(contentTraitement)">
              {{ statut | statusCasFormat }}
            </button>
          </div>
        </div>
    </div>
    
    <div class="card-body">
        <!-- Spinner -->
        <app-spinner [filterBy]="casUrl"></app-spinner>

        <div *ngIf="(cas$ | async) as cas">
            <h2>Cas</h2>
            <div class="row">
                <div class="col-md-6">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col">Code</div>
                                <div class="col font-weight-bold">{{cas.code}}</div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col">Type de cas</div>
                                <div class="col font-weight-bold">{{cas.typeCas.libelle}}</div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col">Description</div>
                                <div class="col font-weight-bold">{{cas.description}}</div>
                            </div>
                        </li>

                        
                        <!-- <li class="list-group-item">
                            <div class="row">
                                <div class="col">Partenaire</div>
                                <div class="col font-weight-bold">{{cas.partenaire ? cas.partenaire.nom : '--'}}</div>
                            </div>
                        </li> -->
                        <!-- <li class="list-group-item">
                            <div class="row">
                                <div class="col">Coût</div>
                                <div class="col font-weight-bold">{{cas.cout | currency}}</div>
                            </div>
                        </li> -->
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col">Date</div>
                                <div class="col font-weight-bold">{{cas.createdAt | date : 'dd/MM/yyyy HH:mm:ss'}}</div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col">Point focal</div>
                                <div class="col font-weight-bold"><a [routerLink]="['/users/info', cas.user.id]">{{cas.user.username}}</a></div>
                            </div>
                        </li>
                        <li class="list-group-item p-1">
                            <div class="card border">
                                <div class="card-header text-center font-weight-bold ">
                                    Alerte 
                                </div>
                                <hr>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            Code : <a [routerLink]="['/gestion-cas/alertes', cas.alerte.id]">{{cas.alerte.code}}</a>
                                        </div> 
                                        <div class="col-md-6">
                                            Téléphone : <strong>{{cas.alerte.msisdn }}</strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Victime -->
<div class="card card-body" *ngIf="victimeId">
    <h2>Survivant.e</h2>
    <app-info-victime [victimeId]="victimeId"></app-info-victime>
</div>

<!-- Localites -->
<div class="card card-body" *ngIf="localite">
    <h2>Localité</h2>
    <app-display-localite [localite]="localite"></app-display-localite>
</div>

<!-- Questionnaire (Reponse) -->
<div class="card card-body" *ngIf="casId">
    <h2>Services</h2>
    <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" expanded="true">
          <mat-expansion-panel-header>
            <mat-panel-title>Suivi des services</mat-panel-title>
          </mat-expansion-panel-header>
          <app-list-reponse [casId]="casId"></app-list-reponse>
        </mat-expansion-panel>
    </mat-accordion>
</div>

<!-- Traitement liste -->
<div class="card card-body" *ngIf="statut">
    <h2>Traitements</h2>
    <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" expanded="true">
          <mat-expansion-panel-header>
            <mat-panel-title>Historique des traitements</mat-panel-title>
          </mat-expansion-panel-header>
          <app-list-traitement [casId]="casId"></app-list-traitement>
        </mat-expansion-panel>
    </mat-accordion>
</div>


<!-- Traitement modal -->
<ng-template  #contentTraitement let-c="close" let-d="dismiss">
    <div class="modal-header bg-default">
      <span class="modal-title h4 text-white">Traitement</span>
      <button type="button" class="close" aria-label="Close" (click)="c('Close click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <app-edit-traitement [casId]="casId" [oldStatut]="statut" (isDone)="onCloseModal($event)"></app-edit-traitement>
    </div>
</ng-template>