<div class="card">
    <div class="card-header bg-default">
      <div class="row">
        <div class="col-sm-12 form-inline">
          <button mat-mini-fab color="info" routerLink="..">
            <mat-icon>reply</mat-icon>
          </button>
          <h2 class="card-title ml-1 text-white">
            {{ isNew ? 'Enregistrement d\'un produit' : 'Modification d\'un produit '}}
          </h2>
        </div>
      </div>
    </div>
    <div class="card-body">
  
      <!-- Spinner -->
      <app-spinner [filterBy]="produitUrl" [diameter]="30" #usrSpinner></app-spinner>
  
      <div class="row">
        <div class="col-md-8 offset-md-2 col-sm-12">
          <div>
            <form [formGroup]="produitForm">
              <div class="row">
                <div class="col-12">
                  <mat-form-field>
                    <mat-label>Nom Produit *</mat-label>
                    <input matInput type="text" formControlName="nom">
                    <mat-error>La  produit est obligatoire et contient au moins 3 caractères</mat-error>
                  </mat-form-field>
                </div>
              </div>
               <div >
                <div class="row">
                  <div class="col-12">
                    <mat-form-field>
                      <mat-label>Poids *</mat-label>
                      <mat-select formControlName="poids">
                        <mat-option *ngFor="let poid of poids " [value]="poid">{{ poid}} Kg</mat-option>
                      </mat-select>
                      <mat-error>Le poids est obligatoire</mat-error>
                    </mat-form-field>
                  </div>
                </div>
              </div>
             <!--  <div class="row">
                <div class="col-12">
                  <mat-form-field>
                    <mat-label>Poids Produit *</mat-label>
                    <input matInput type="number" minlength="1" formControlName="poids">
                    <mat-error>Le poids est obligatoire et contient au moins 3 caractères</mat-error>
                  </mat-form-field>
                </div>
              </div> -->
              <div class="row">
                <div class="col-12">
                  <mat-form-field>
                    <mat-label>Prix Unitaire Produit *</mat-label>
                    <input matInput type="number" minlength="1" formControlName="prixUnit">
                    <mat-error>Le prix unitaire est obligatoire </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <mat-form-field>
                    <mat-label>Quantite Produit *</mat-label>
                    <input matInput type="number" minlength="1" formControlName="quantite">
                    <mat-error>La quantite est obligatoire </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <mat-form-field>
                    <mat-label>Description *</mat-label>
                    <textarea matInput formControlName="description"></textarea>
                    <mat-error>La description est obligatoire et contient au moins {{description}} caractères</mat-error>
                  </mat-form-field>
                </div>
              </div>

              <!-- ==========================================================================-->
  
             <!--  <div formGroupName="categorie" >
                <div class="row">
                  <div class="col-12">
                    <mat-form-field>
                      <mat-label>Categorie *</mat-label>
                      <mat-select formControlName="id">
                        <mat-option *ngFor="let categorie of categories$ | async" [value]="categorie.id">{{ categorie.libelle }}</mat-option>
                      </mat-select>
                      <mat-error>La categorie est obligatoire</mat-error>
                    </mat-form-field>
                  </div>
                </div>
              </div> -->

              <div formGroupName="groupement" >
                <div class="row">
                  <div class="col-12">
                    <mat-form-field>
                      <mat-label>Groupement *</mat-label>
                      <mat-select formControlName="id">
                        <mat-option *ngFor="let groupement of groupements$ | async" [value]="groupement.id">{{ groupement.nom }}</mat-option>
                      </mat-select>
                      <mat-error>Le groupement est obligatoire</mat-error>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="text-center">
                <button type="button" (click)="onSubmit()" [class.spinner]="usrSpinner.loadingEvent$ | async"
                  mat-raised-button color="primary" [disabled]="produitForm.invalid || (usrSpinner.loadingEvent$ | async)">
                  Enregistrer
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
