<div class="row">
    <div class="col-12">
      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" [expanded]="expanded">
          <mat-expansion-panel-header>
            <mat-panel-title>Recherche</mat-panel-title>
          </mat-expansion-panel-header>
          <form>
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <mat-form-field>
                        <mat-label>Nom</mat-label>
                        <input matInput type="text" name="nom" [(ngModel)]="params.nom">
                     </mat-form-field>
                </div> 
                <div class="col-md-4 col-sm-12">
                    <mat-form-field>
                        <mat-label>Prénom</mat-label>
                        <input matInput type="text" name="prenom" [(ngModel)]="params.prenom">
                     </mat-form-field>
                </div>
            </div>  
          </form>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
</div>
 