<div class="text-center">
  <h2 class="card-title">{{ isNew? 'Enregistrement' : 'Modification' }}</h2>
</div>
<div *ngIf="(quartier$ | async) as quartier" class="card-body">
  <div style="font-size: 15px;">
    <div class="row">
      <div class="col-6">Region </div>
      <div class="col-6 font-weight-bold">{{ quartier.commune.prefecture.region.nom }}</div>
    </div>
    <div class="row">
      <div class="col-6">Prefecture</div>
      <div class="col-6 font-weight-bold">{{ quartier.commune.prefecture.nom }}</div>
    </div>
    <div class="row">
      <div class="col-6">Commune/Sous-prefecture</div>
      <div class="col-6 font-weight-bold">{{ quartier.commune.nom }}</div>
    </div>
    <div class="row">
      <div class="col-6">Quartier</div>
      <div class="col-6 font-weight-bold">{{ quartier.nom }}</div>
    </div>
  </div>
</div>
<div>
  <form [formGroup]="secteurForm">
    <div class="row">
      <div class="col-12">
        <mat-form-field>
          <mat-label>Nom</mat-label>
          <input type="text" matInput formControlName="nom">
          <mat-error>Le nom est obligatoire</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <mat-form-field>
          <mat-label>Description</mat-label>
          <textarea matInput formControlName="description"></textarea>
        </mat-form-field>
      </div>
    </div>

    <div class="text-center">
      <button type="button" mat-raised-button color="primary" [disabled]="secteurForm.invalid" (click)="onSubmit()">
        Enregistrer
      </button>
    </div>
  </form>
</div>
